.vers1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 15px;
    background: #080e14f3;
}

.vers1-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/* 
    gap: 20px;
    overflow: visible;
    position: relative; */

    background-image: url('./images/valo-alert.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 1.0s ease-in-out;
    position: relative;
}

.vers1-top h3 {
    color: white;
    font-size: 24px;
}

/* .top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.top-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.overlay {
    width: 100%;
    height: 100%;
    background: #00000070;
    z-index: 2;
    position: absolute;
}

.vers1-top:hover {
    background-size: 108%;
}

.wrapper {
    z-index: 3;
    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.wrapper h1 {
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 1px #975959f6;
}

.vers1-features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.vers1-features img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.vers1-features .vers1-ftr-pay {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    width: 40px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 6px;
}

.vers1-features .vers1-ftr-partner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    width: 40px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 6px;
}


.vers1-top p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    line-height: 25px;
    text-shadow: 10px 1px 10px #000000f6;
}


.pc-version {
    display: flex;
    gap: 10px;
    background: #000;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 10px;
}

.pc-version img {
    width: 20px;
}

.pc-version div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pc-version div span:first-child {
    color: white;
    font-size: 8px;
}

.pc-version div span:last-child {
    color: white;
    font-weight: bold;
    font-size: 10px;
}



.vers1-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vers1-riot {
    width: 100%;
    position: relative;
    padding: 20px 0px;
    background: linear-gradient(to left, rgba(143, 39, 48, 0.1), rgba(143, 39, 48, 1));
}

.vers1-riot-content {
    width: 95%;
    margin: auto;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}

.vers1-riot-content::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(to right, #8c262f, #31548d, #29181e);
}


.vers1-riot-title div {
    background: #6042f0;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid white;
    
    position: absolute;
    top: 0;
}

.vers1-riot-title p {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.vers1-riot-input {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.vers1-riot-input input {
    border-color: #8f8f8f1f;
    width: 100%;
    padding: 10px;
    background: #f6f5fbe1;
    border-radius: 5px;
    outline: none;
}

.vers1-riot-input input::placeholder {
    color: #535353;
    font-size: 12px;
}

.vers1-riot-exp {
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    width: 45%;
    color: #a7a7a7;
}

.vers1-amount-content {

    width: 95%;
    margin: auto;
    padding: 20px 15px;
    padding-bottom: 30px;
    position: relative;
}


.vers1-amount-content::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to right, #8c262f, #31548d, #29181e);
  }
.vers1-amount-notice {
    background: linear-gradient(to bottom, rgba(49, 84, 141, 0.9), rgba(49, 84, 141, 0.5));
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.vers1-amount-notice img {
    width: 10px;
}

.vers1-amount-notice span {
    font-size: 9px;
    font-weight: 500;
    color: white
}

.vers1-amount-vp {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}


.vers1-vp-card {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 135px;
    border: 1px solid #c2c7d4;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.vers1-vp-card .top {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    gap: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.vers1-vp-card.active .top {
    background-color: #3d4d7f67;
}

.vers1-vp-card.active {
    border: 2px solid #a38afc;
}

.vers1-vp-card .top p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.vers1-vp-card .top img {
    width: 35px;
    border: 2px solid rgba(0, 0, 0, 0.493);
    border-radius: 50%;
    padding: 5px;
    background: white;
}

.vers1-vp-card .top span {
    font-size: 10px;
    font-weight: bold;
    color: white;
}


.vers1-vp-card .bottom {
    height: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: #f6f5fbe1;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
}

.vers1-vp-card .bottom span:first-child {
    font-size: 12px;
    color: #3d4e7f;
    font-weight: 200;
}

.vers1-vp-card .bottom span:last-child {
    font-size: 18px;
    color: #3d4e7f;
    font-weight: 700;
}



.vers1-payment-content {
    /* background: white; */
    width: 95%;
    margin: auto;
    /* border-radius: 8px; */
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    
}

.vers1-payment-box {
    background: #f6f5fbe1;
    border: 2px solid #c2c7d4;
    border-radius: 10px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.vers1-payment-box span {
    font-size: 18px;
    font-weight: 700;
    color: #3d4e7f;
}

.vers1-payment-box-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vers1-payment-box-select div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vers1-payment-box-select div img {
    width: 20px;
}

.vers1-payment-box-select p {
    font-size: 12px;
    font-weight: 600;
    color: #3d4e7f;
}


.vers1-payment-content a {
    font-size: 12px;
    font-weight: 700;
    color: #8571ed;
}